@use "@angular/material" as mat;

@mixin theme($theme) {
  .sidenav-content {
    background-color: mat.get-theme-color($theme, primary, 90);
  }

  button[mat-flat-button] {
      background-color: mat.get-theme-color($theme, error, 50);
  }

  mat-toolbar {
    background-color: mat.get-theme-color($theme, primary, 80);
  }
}
